.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    font-family: "Schoolbell";
}

.container {
    border: 1px solid black;
    padding: 30px;
    border-radius: 25%;
}


.pokeSubmit {
    margin: 5px;
    cursor: pointer;
}


footer {
    position: fixed;
    bottom: 0;
    margin: 10px;
}

.submitBtn {

}